<main role="main" class="container">
  <div class="row d-flex ml-1">
    <h2 class="mt-4 pl-0 text-grey ml-0">
      ADMINISTRATOR DASHBOARD
    </h2>
  </div>
</main>
<section class="mini-dashboard my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row box-profile soft-shadow px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img
              src="{{
                employee.profilePicture ||
                  'https://res.cloudinary.com/dc1lp90qy/image/upload/v1553927628/pictures/user.png'
              }}"
              alt=""
              class="img-fluid rounded-circle black-border"
              id="profile-picture"
            />
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="mb-0 text-white">{{ employee.name }}</h4>
            <p class="text-white">{{ employee.role }}</p>
            <a href="profile" class="badge badge-white">Show Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-carrot px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img
              src=" assets/img/carrot-receive.svg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">You've earned {{ total }} carrots!</h4>
            <!--<a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">-->
            <!--Share carrot!-->
            <!--</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-additional px-0">
          <div class="col-md-4 my-auto">
            <img
              src=" assets/img/history-transv2.svg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">Carrots Transaction History</h4>
            <a href="/transaction-histories" class="badge badge-white">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="admin-tabs py-3">
  <div class="container">
    <div class="col-md-12">
      <ngb-tabset type="pills">
        <ngb-tab title="Merchant Functions">
          <ng-template ngbTabContent>
            <app-merchant></app-merchant>
          </ng-template>
          <div class="container mt-3">
            <div class="row d-flex">
              <div class="col-md-12 py-3 px-md-0">
                <button
                  type="submit"
                  class="btn btn-carrot radius-5 pull-right"
                >
                  CREATE BAZAAR
                </button>
              </div>
            </div>
          </div>
        </ngb-tab>

        <ngb-tab title="Admin Functions">
          <ng-template ngbTabContent>
            <div class="container search-box">
              <ngb-tabset type="tabs">
                <ngb-tab title="Manager Rewards">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-import-reward-section></app-import-reward-section>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Mitrais Awards">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-import-award-section></app-import-award-section>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Social Foundation">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-import-social-foundation-section></app-import-social-foundation-section>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Transactions">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-transactions></app-transactions>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Groups">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-groups></app-groups>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Information Function">
          <ng-template ngbTabContent>
            <div class="container search-box">
            <ngb-tabset type="tabs">
              <ngb-tab title="Carrot Most Earner">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-earn-most-carrot></app-earn-most-carrot>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Rewards">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-rewards></app-rewards>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Achievements">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-achieved-achievement></app-achieved-achievement>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Birthday Information">
                  <ng-template ngbTabContent>
                    <div class="container search-box">
                      <app-birthday-information></app-birthday-information>
                    </div>
                  </ng-template>
                </ngb-tab>
            </ngb-tabset>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
