<main role="main" class="container1">
  <h2 class="mt-4 pl-0 text-grey ml-0">
    ADMINISTRATOR DASHBOARD
  </h2>
</main>
<section class="admin-tabs py-3">
  <div class="container">
    <div class="col-md-12">
      <ngb-tabset type="pills">
        <ngb-tab title="Merchant Functions">
          <ng-template ngbTabContent>
            <app-merchant></app-merchant>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Admin Functions">
          <ng-template ngbTabContent>
            <ngb-tabset type="pills">
              <ngb-tab title="Manager Rewards">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-import-reward-section></app-import-reward-section>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Mitrais Awards">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-import-award-section></app-import-award-section>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Social Foundation">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-import-social-foundation-section></app-import-social-foundation-section>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Transactions">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-transactions></app-transactions>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Groups">
                <ng-template ngbTabContent>
                  <div class="container search-box">
                    <app-groups></app-groups>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
