<div style="background-color: white">
  <div class="col-md-12">
    <hr class="box-title-hr">
    <h4 class="my-2 box-title">SHARING REWARD LIST</h4>
  </div>
  <div class="col-md-12">
    <table id="table-mr" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Carrot</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody id="tbodyRewardtype" *ngIf="rewardsData">
      <tr *ngFor="let reward of rewardsData">
        <td scope="row">{{reward.key}}</td>
        <td>{{reward.title}}</td>
        <td>{{reward.carrot}}</td>
        <td>{{reward.description}}</td>
        <td> {{reward.status ? 'Active' : 'Inactive' }}</td>
        <td>
          <a class="btn btn-info" href="javascript:void(0)" (click)="inactive(reward)" *ngIf="reward.status">
            Inactive
          </a>
          <a class="btn btn-info" href="javascript:void(0)" (click)="activate(reward)" *ngIf="!reward.status">
            Activate
          </a>
          <a class="btn btn-danger" href="javascript:void(0)" (click)="removeRewardFromDB(reward.id)">Delete</a> 
          <a class="edit-row btn btn-info" href="javascript:void(0)" (click)="openEditModal(reward, contentReward)"> Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center mb-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" (click)="open(contentReward)">
        <i class="fa fa-plus-circle"></i> ADD MANAGER REWARD
      </button>
    </div>
  </div>
</div>
<ng-template #contentReward let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add New Manager Reward</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="submit()" >
    <div class="modal-body">
      <div class="form-group">
        <label for="text">Type Name</label>
        <input id="text" name="text" type="text" class="form-control here" formControlName="title" [(ngModel)]="formReward.title">
        <div *ngIf="submitted && messageForm.controls.title.errors" class="error">
          <div *ngIf="messageForm.controls.title.errors.required">Please insert name!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="text1">Carrot</label>
        <input id="text1" name="text1" type="number" min="1" class="form-control here" formControlName="carrot" [(ngModel)]="formReward.carrot">
        <div *ngIf="submitted && messageForm.controls.carrot.errors" class="error">
          <div *ngIf="messageForm.controls.carrot.errors.required">Please insert Carrot's Amount!</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input name="text1" type="text" class="form-control here" formControlName="description" [(ngModel)]="formReward.description">
        <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
          <div *ngIf="messageForm.controls.description.errors.required">Please insert Carrot's Amount!</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</ng-template>
<!--<app-modal-loading></app-modal-loading>-->
