<div class="col-md-12">
  <hr class="box-title-hr">
  <h4 class="my-2 box-title">Employee LIST</h4>
</div>
<div class="col-md-12">
  <table id="table-mr" class="table table-hover mt-3">
    <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employeeData; let i=index">
        <td>{{i + 1}}</td>
        <td>{{e.name}}</td>
        <td>{{e.role}}</td>
        <td>{{e.email}}</td>
        <td>
          <a class="btn btn-danger" href="javascript:void(0)" (click)="revoke(e.id)" *ngIf="e.role === 'ADMIN'">Revoke Admin</a>
          <a class="btn btn-info" href="javascript:void(0)" (click)="assign(e.id)" *ngIf="e.role === 'STAFF'">Assign Admin</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
