<main role="main" class="container">
  <h2 class="mt-4 pt-4 pl-0 text-grey ml-0">DASHBOARD</h2>
</main>
<section class="mini-dashboard my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row box-profile soft-shadow px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img
              src="{{employee.profilePicture || 'https://res.cloudinary.com/dc1lp90qy/image/upload/v1553927628/pictures/user.png'}}"
              alt="" class="img-fluid rounded-circle black-border" id="profile-picture">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="mb-0 text-white">{{employee.name}}</h4>
            <p class="text-white">{{employee.role}}</p>
            <a href="profile" class="badge badge-white">Show Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-carrot px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src=" assets/img/carrot-receive.svg" alt="" class="img-fluid">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">You've earned {{total}} carrots!</h4>
            <!--<a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">-->
            <!--Share carrot!-->
            <!--</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-additional px-0">
          <div class="col-md-4 my-auto">
            <img src=" assets/img/history-trans.svg" alt="" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8 my-auto">
            <h4 class="text-white">Carrots Transaction History</h4>
            <a href="/transaction-histories" class="badge badge-white">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bazaar-1-item mb-4">
  <div class="container search-box pb-4">
    <div class="row d-flex align-content-end">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">
          Social Foundation
          <a href="/social-foundation" class="btn btn-info pull-right">See All</a>
        </h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4" *ngFor="let item of sf">
        <div class="card">
          <img class="card-img-top" src="assets/img/donatev2.svg" alt="Social Foundation">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          </div>
          <a href="socialfoundation-detail/{{item.id}}" class="btn btn-carrot">Donate</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bazaar-1-item mb-4" *ngFor="let bzr of bazar">
  <div class="container search-box pb-4">
    <div class="row d-flex" *ngIf="bzr.items.length == 1">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">{{bzr.bazaarName}}</h4>
      </div>
      <div class="col-md-6 br-1">
        <img src="{{bzr.items[0].pictureUrl}}" class="img-fluid p-3" alt="">
      </div>
      <div class="col-md-6 align-self-center p-5">
        <h3>{{bzr.items[0].itemName}}</h3>
        <h4><strong class="carrot-orange">{{bzr.items[0].exchangeRate}} Carrots</strong></h4>
        <p>{{bzr.items[0].itemDescription}}</p>
        <a href="/item-detail/{{bzr.items[0].id}}" class="btn btn-carrot radius-5"
          *ngIf="bzr.items[0].itemSold < bzr.items[0].totalItem">Buy</a>
        <p *ngIf="bzr.items[0].itemSold >= bzr.items[0].totalItem">Sold out</p>
      </div>
    </div>
    <div class="row" *ngIf="bzr.items.length == 2">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">{{bzr.bazaarName}}</h4>
      </div>
      <div class="col-md-6 br-1" *ngFor="let itm of bzr.items">
        <div class="text-center">
          <img src="{{itm.pictureUrl || ('assets/img/mc-icon-transaction.png')}}" class="img-fluid p-3 bazaar-item mb-3"
            alt="missing image" onerror="this.src='assets/img/mc-icon-transaction.png'">
        </div>
        <div class="px-3">
          <h3>{{itm.itemName}}</h3>
          <h4><strong class="carrot-orange">{{itm.exchangeRate}} Carrots</strong></h4>
          <p>{{itm.itemDescription}}</p>
          <a href="/item-detail/{{itm.id}}" class="btn btn-carrot radius-5">Buy</a>
        </div>
      </div>
    </div>

    <div class="row d-flex align-content-end" *ngIf="bzr.items.length >= 3">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <h4 class="my-2 box-title">{{bzr.bazaarName}}</h4>
      </div>
    </div>
    <div class="row mt-3" *ngIf="bzr.items.length >= 3">
      <div class="col-md-4" *ngFor="let itm of bzr.items">
        <div class="card">
          <img class="card-img-top" src="{{itm.pictureUrl}}" alt="Bazaar Item">
          <div class="card-body">
            <h5 class="card-title">{{itm.itemName}}</h5>
            <p class="card-text">{{itm.exchangeRate}} Carrots</p>
          </div>
          <a href="/item-detail/{{itm.id}}" class="btn btn-carrot">BUY</a>
        </div>
      </div>
    </div>
  </div>
</section>
