<section class="bazaar-1-item mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 search-box1 imgnya">
        <img class="pictureDetailSF"
          [src]="sf.pictureUrl" alt="Social Foundation"
          onerror="this.src='assets/img/heart.svg'">
        <div class="bottom-right">{{sf.name}}</div>
      </div>
      <div class="col-md-4 search-box1" data-toggle="tooltip" data-placement="left" title="Carrot to be collected">
         <span class="icon-holder">
           <i class="fas fa-hand-holding-heart fa-5x f4be"></i>
         </span><br>
        <span class="title"> {{sf.min_carrot}}</span>
      </div>
      <div class="col-md-4 search-box1" data-toggle="tooltip" data-placement="left" title="Carrot Collected">
        <span class="icon-holder">
           <i class="fas fa-angle-double-down fa-5x"></i>
         </span><br>
        <span class="title"> {{sf.total_carrot}}</span>
      </div>
    </div>
    <div class="row deskripsi">
      <p class="content">{{sf.description}}</p>
    </div>
  </div>
</section>
<ng-template #contentBazaar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Social Foundation</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="sfForm" (ngSubmit)="submit()" >
    <div class="modal-body">
      <div class="form-group">
        <label>Carrot</label>
        <input id="barnName" name="barnName" type="text" class="form-control here" formControlName="carrot"
               [(ngModel)]="carrot">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</ng-template>
<a href="javascript:void(0)" class="float" (click)="openmodal(contentBazaar, sf)" *ngIf="basket.carrot_amt > 0">
  <i class="fa fa-heart my-float fa-2x"></i>
</a>
