<main role="main" class="container1">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="mt-4 pl-0 text-grey ml-0">FARMER DASHBOARD</h2>
    </div>
  </div>

</main>
<section class="admin-tabs py-3">
  <div class="container">
  <ngb-tabset type="pills">
    <ngb-tab title="Barns">
        <ng-template ngbTabContent>
        <div class="container search-box">
          <div class="row">
            <div class="col-md-12">
              <hr class="box-title-hr">
              <h4 class="my-2 box-title">LIST OF BARNS</h4>
            </div>
            <div style="overflow-x: auto" class="col-md-12">
              <table class="table table-bordered mt-3">
                <thead>
                  <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2">Name</th>
                    <th colspan="2">Period</th>
                    <th rowspan="2">Owner</th>
                    <th rowspan="2">Total Carrot</th>
                    <th rowspan="2">Carrot Left</th>
                    <th rowspan="2">Status</th>
                    <th rowspan="2">Released</th>
                    <th rowspan="2">Action</th>
                  </tr>
                  <tr>
                    <td>Start</td>
                    <td>End</td>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <tr *ngFor="let barn of barnData; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{barn.name}}</td>
                    <td>{{barn.startPeriod}}</td>
                    <td>{{barn.endPeriod}}</td>
                    <td width="5%">{{barn.owner.name}}</td>
                    <td>{{barn.totalCarrot}}</td>
                    <td>{{barn.carrotLeft}}</td>
                    <td>{{barn.status ? 'Active' : 'Inactive'}}</td>
                    <td>{{barn.released ? 'Released' : 'Pending'}}</td>
                    <td>
                      <button type="button" class="btn btn-info" (click)="openEditModal(barn, contentBarn)">
                          <i class="fas fa-cog"></i> Edit
                      </button>
                      <button type="button" class="btn btn-danger" (click)="removeBarn(barn.id)">
                        <i class="far fa-trash-alt"></i> Delete
                      </button>
                      <!-- <a class="edit-row" href="javascript:void(0)" (click)="removeBarn(barn.id)">
                        <i class="material-icons md-18">delete</i>
                        Delete
                      </a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center py-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" (click)="open(contentBarn)">
                  <i class="fa fa-plus-circle"></i> ADD BARN
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Funnel">
        <ng-template ngbTabContent>
          <div class="container search-box">
            <app-funnel></app-funnel>
          </div>
        </ng-template>
      </ngb-tab>
    <ngb-tab title="Employee">
      <ng-template ngbTabContent>
        <div class="container search-box">
          <app-employee-list></app-employee-list>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Social Foundation">
      <ng-template ngbTabContent>
        <div class="container search-box">
          <app-sf-list></app-sf-list>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Transactions">
      <ng-template ngbTabContent>
        <div class="container search-box">
          <app-farmer-transactions></app-farmer-transactions>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

  <ng-template #contentBarn let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title-barn">Add New Barn</h5>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="submit()">
      <div class="modal-body">
        <div class="form-group">
          <label>Barn Name</label>
          <input type="text" class="form-control here" formControlName="name" [(ngModel)]="formBarn.name">
          <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Please insert barn name!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Barn Owner</label>
          <select class="form-control here" formControlName="owner" [(ngModel)]="formBarn.owner">
            <option *ngFor="let employee of rootAdminData" [(ngValue)]="employee">{{employee.name}}</option>
          </select>
          <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Please select barn owner!</div>
          </div>
        </div>
        <div>
          <th>
            <div class="form-group">
              <label>Barn Start Period</label>
              <input type="date" class="form-control here" formControlName="startPeriod"
                [(ngModel)]="formBarn.startPeriod">
              <div *ngIf="submitted && messageForm.controls.startPeriod.errors" class="error">
                <div *ngIf="messageForm.controls.startPeriod.errors.required">Please insert the start date!</div>
              </div>
            </div>
          </th>
          <th>
            <div class="form-group">
              <label>Barn End Period</label>
              <input id="input4" type="date" class="form-control here" formControlName="endPeriod"
                [(ngModel)]="formBarn.endPeriod">
              <div *ngIf="submitted && messageForm.controls.endPeriod.errors" class="error">
                <div *ngIf="messageForm.controls.endPeriod.errors.required">Please insert the finish date!</div>
              </div>
            </div>
          </th>
        </div>
        <div class="form-group">
          <label>Carrot Budget Per-Staff</label>
          <input id="input5" type="number" class="form-control here" formControlName="budgetPerStaff"
            [(ngModel)]="formBarn.budgetPerStaff">
          <div *ngIf="submitted && messageForm.controls.budgetPerStaff.errors" class="error">
            <div *ngIf="messageForm.controls.budgetPerStaff.errors.required">Please insert carrot budget for each staff in this barn!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Barn Status</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="status"
            [(ngModel)]="formBarn.status">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Inactive
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Active
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Barn Release Status</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="released"
            [(ngModel)]="formBarn.released">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Pending
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Released
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  </ng-template>
</section>
