<main role="main" class="container1">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="my-3 pl-0 text-grey ml-0">
        GROUP DETAILS
      </h2>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</main>
<section class="create-barn-form pt-2 pb-5">
    <div class="container search-box pt-2">
      <div class="row">
        <div class="col-md-12 ">
          <hr class="box-title-hr">
          <h4 class="mt-2 mb-4 box-title">GROUP DETAILS</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="barnName">Name</label>
                <input *ngIf="itemGroup" id="barnName" name="barnName" type="text" class="form-control here" disabled value="{{itemGroup.name}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >Type</label>
                <input *ngIf="itemGroup" class="form-control here" disabled value="{{itemGroup.type}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container search-box mt-3">
      <div class="row pb-md-3">
        <div class="col-md-12">
          <hr class="box-title-hr">
          <h4 class="my-2 box-title">Group's Employee</h4>
        </div>
        <div class="col-md-12">
          <a href="javascript:void(0)"  class="btn btn-info pull-right" (click)="open(contentEmployee)">
            <i class="fa fa-plus-circle"></i> ADD MORE Employee
          </a>
          <table class="table table-hover mt-3">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col" class="priority-table">Action</th>
            </tr>
            </thead>
            <tbody *ngIf="employeeByGroup">
            <tr *ngFor="let emp of employeeByGroup.employeeList">
              <th scope="row"></th>
              <td>{{emp.name}}</td>
              <td>{{emp.emailAddress}}</td>
              <td>
                <a href="javascript:void(0)" (click)="removeEmployeefromGroup(emp.id)">Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <app-add-bazar *ngIf="itemGroup" [group]="itemGroup"></app-add-bazar>
  <app-group-social-foundation *ngIf="itemGroup" [group]="itemGroup"></app-group-social-foundation>
  <app-groub-achievement *ngIf="itemGroup" [group]="itemGroup"></app-groub-achievement>
</section>
<ng-template #contentEmployee let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add Employee For Group</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addEmployee" (ngSubmit)="submit()" >
    <div class="modal-body">
      <div class="form-group">
        <label>Employee</label>
        <select class="form-control here" formControlName="employee" [(ngModel)]="employee">
          <option *ngFor="let employee of allEmployee" [ngValue]="employee">{{employee.name}}</option>
        </select>
        <!--<input  name="text1" type="text" class="form-control here" formControlName="totalItem" [(ngModel)]="itemValue.totalItem">-->
        <!--<div *ngIf="submitted && messageForm.controls.totalItem.errors" class="error">-->
          <!--<div *ngIf="messageForm.controls.totalItem.errors.required">Please insert Carrot's Amount!</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Sumbit</button>
    </div>
  </form>
</ng-template>
