<main role="main" class="container1">
  <h2 class="my-4 pl-0 text-grey ml-0">
         <span class="back-button">
           <a href="/employee"><img src="assets/img/back.png" alt="" class="back" /></a>
         </span>
    Employee page
  </h2>
</main>

<section class="bazaar-1-item mb-4">
  <div class="container search-box pb-4">
    <div class="row d-flex" *ngIf="item">
      <div class="col-md-12">
        <hr class="box-title-hr">
        <!--<h4 class="my-2 box-title">{{item.bazaar.bazaarName}}</h4>-->
      </div>
      <div class="col-md-6 br-1">
        <img src="{{item.pictureUrl}}" class="img-fluid p-3" alt="">
      </div>
      <div class="col-md-6 align-self-center p-5">
        <h3>{{item.itemName}}</h3>
        <h4><strong class="carrot-orange">{{item.exchangeRate}} Carrots</strong></h4>
        <p>{{item.itemDescription}}</p>
        <p class="btn btn-carrot radius-5" *ngIf="item.exchangeRate <= basket.carrot_amt && item.totalItem > 0" (click)="createTransaction()">Buy</p>
        <p class="mt-2" *ngIf="item.exchangeRate > basket.carrot_amt"><small class="text-danger">You don't have enough carrots to buy this item.</small></p>
        <p class="mt-2" *ngIf="item.totalItem < 1"><small class="text-danger">Item is out of Stock</small></p>
      </div>
    </div>
  </div>
</section>
