.box-profile{
  background: #42A5F5;
}

.box-carrot{
  background: #FF8A65;
}

.box-additional{
  background: #66BB6A;
}

.btn{
  padding: .375rem .75rem;
  margin: 0;
}

.non-staff {
  background: #189ec0!important;
}
