<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">
      <img src="assets/img/mitrais-logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell notif-icon"></i>
            <div class="notif-active"></div>
          </a>
          <div class="dropdown-menu right-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><strong>Komang Teguh Budiyana sent you a Birthday Carrot!</strong></a>
            <a class="dropdown-item" href="#">April Mop Bazaar is ending soon!</a>
            <a class="dropdown-item" href="#">New Bazaar : Easter Bazaar</a>
          </div>
        </li>
        <li class="nav-item logout">
          <a class="nav-link logout" id="logoutButton">
            <i class="fa fa-sign-out" aria-hidden="true" (click)="onClick()"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>