<div class="container search-box mt-3">
  <div class="row pb-md-3">
    <div class="col-md-12">
      <hr class="box-title-hr">
      <h4 class="my-2 box-title">Group's Achievement</h4>
    </div>
    <div class="col-md-12">
      <a href="javascript:void(0)"  class="btn btn-info pull-right" (click)="open(contentAchievement)">
        <i class="fa fa-plus-circle"></i> ADD MORE Achievement
      </a>
      <table class="table table-hover mt-3">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Carrot</th>
          <th scope="col" class="priority-table">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="achievementByGroup">
        <tr *ngFor="let achievement of achievementByGroup; let i = index">
          <td>{{i +1}}</td>
          <td>{{achievement.title}}</td>
          <td>{{achievement.description}}</td>
          <td>{{achievement.carrot}}</td>
          <td>
            <a href="javascript:void(0)" (click)="removeAchievementFromGroup(achievement.id)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #contentAchievement let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add Achievement For Group</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addAchievement" (ngSubmit)="submit()" >
    <div class="modal-body">
      <div class="form-group">
        <label>Achievement</label>
        <select class="form-control here" formControlName="achievement" [(ngModel)]="achievement">
          <option *ngFor="let singleAchievement of achievementData" [ngValue]="singleAchievement">{{singleAchievement.title}}</option>
        </select>
        <!--<input  name="text1" type="text" class="form-control here" formControlName="totalItem" [(ngModel)]="itemValue.totalItem">-->
        <!--<div *ngIf="submitted && messageForm.controls.totalItem.errors" class="error">-->
        <!--<div *ngIf="messageForm.controls.totalItem.errors.required">Please insert Carrot's Amount!</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Sumbit</button>
    </div>
  </form>
</ng-template>
