<main role="main" class="container1">
  <h2 class="mt-4 pl-0 text-grey ml-0"></h2>
</main>
<section class="admin-tabs py-3">
  <div class="container">
    <div class="col-md-12">
      <ngb-tabset type="pills">
        <ngb-tab title="Achievement List">
          <ng-template ngbTabContent>
            <div class="container search-box">
              <app-achievement-list></app-achievement-list>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Achieved">
          <ng-template ngbTabContent>
            <div class="container search-box">
              <app-achieved></app-achieved>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
