<main role="main" class="container1">
  <div class="row d-flex">
    <!-- <div class="col-md-12"> -->
    <h2 class="mt-4 pl-0 text-grey ml-0">MANAGER DASHBOARD</h2>
    <!-- </div> -->
  </div>
</main>
<section class="admin-tabs py-3">
  <div class="container">
    <ngb-tabset type="pills">
      <ngb-tab title="Barns">
        <ng-template ngbTabContent>
          <div class="container search-box">
            <div class="col-md-12">
              <hr class="box-title-hr">
              <h4 class="my-2 box-title">LIST OF BARNS</h4>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered mt-3">
                <tr>
                  <th rowspan="2">No</th>
                  <th rowspan="2">Name</th>
                  <th colspan="2">Period</th>
                  <th rowspan="2">Barn Owner</th>
                  <th rowspan="2">Given Frozen Carrot</th>
                  <th rowspan="2">Frozen Carrot Left</th>
                  <th rowspan="2">Status</th>
                  <th rowspan="2">Action</th>
                </tr>
                <tr>
                  <td>Start</td>
                  <td>End</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Barn 2016</td>
                  <td>1/01/2016</td>
                  <td>31/12/2016</td>
                  <td>Sri Diah</td>
                  <td>100</td>
                  <td>2</td>
                  <td>Inactive</td>
                  <td><a class="link_table" href="manager-freezer.html">View</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Barn 2017</td>
                  <td>1/01/2017</td>
                  <td>31/12/2017</td>
                  <td>Hesty</td>
                  <td>1000<br></td>
                  <td>200</td>
                  <td>Inactive</td>
                  <!-- <td><a href="manager-freezer.html">View</a></td> -->
                  <td><a class="link_table" href="manager-freezer.html">View</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Barn 2018</td>
                  <td>1/01/2018</td>
                  <td>31/12/2018</td>
                  <td>Riyan</td>
                  <td>2000</td>
                  <td>900</td>
                  <td>Active</td>
                  <!-- <td><a href="manager-freezer.html">Manage</a></td> -->
                  <td><a class="link_table" href="manager-freezer.html">View</a></td>
                </tr>
              </table>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Group">
        <ng-template ngbTabContent>
          <div class="container search-box">
            <app-groups-manager></app-groups-manager>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Claim">
        <ng-template ngbTabContent>
          <div class="container search-box">
            <app-claim></app-claim>
          </div>
        </ng-template>
      </ngb-tab>
      <!-- SENIOR MANAGER TAB -->
      <ngb-tab title="Senior Manager">
        <ng-template ngbTabContent>
          <div class="container search-box">
            <app-senior-manager></app-senior-manager>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</section>