  <div class="container search-box pb-4">
    <div class="container">
      <h4 class="title" style="margin-bottom: 20px">ACHIEVED</h4>
      <hr>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline" *ngFor="let achievement of achievementdata">
              <a href="javascript:void(0)" class="timeline-content">
                <span class="timeline-year">{{achievement.carrot}}</span>
                <h3 class="title">{{achievement.title}}</h3>
                <p class="description">
                  {{achievement.description}}
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
