<main role="main" class="container">
  <h2 class="mt-4 pl-0 text-grey ml-0 mt-button">
    <span class="back-button">
      <a href="employee"><img src="assets/img/back.png" alt="" class="back" /></a>
    </span>
    TRANSACTION HISTORY
  </h2>
</main>
<section class="mini-dashboard my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row box-reward px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="assets/img/donatev2.svg" alt="" class="img-fluid ">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title black-text">Social Foundation</p>
            <h2 class="text-white">{{reward}} Carrots Spent</h2>
            <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal" href="/social-foundation">
              Donate Carrot</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-shared px-0 mr-0">
          <div class="col-md-4 my-auto">
            <img src="assets/img/sharev2.svg" alt="" class="img-fluid "> <!-- rounded-circle -->
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title black-text">Shared</p>
            <h2 class="text-white black-text">{{shared}} Carrots Spent</h2>
            <a class="badge badge-white" href="javascript:void(0)" (click)="open(contentShare)">
              Share carrot</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box-bazaar px-0">
          <div class="col-md-4 my-auto">
            <img src="assets/img/bazaarv2.svg" alt="" class="img-fluid">
          </div>
          <div class="col-md-8 my-auto">
            <p class="sub-title black-text">Bazaar</p>
            <h2 class="text-white black-text">{{bazaar}} Carrots Spent</h2>
            <a class="badge badge-white" data-toggle="modal" data-target="#exampleModal">
              Trade Carrot</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="transaction-history my-4">
  <div class="container search-box">
    <div class="row d-flex align-content-end">
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="doSearch()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="carrot-type">Type</label>
                <div>
                  <select id="carrot-type" name="carrot-type" class="custom-select" formControlName="type"
                    [(ngModel)]="search.type">
                    <option value="ALL">ALL</option>
                    <option value="REWARD">Rewards</option>
                    <option value="SHARED">Shared</option>
                    <option value="BAZAAR">Bazaar</option>
                    <option value="DONATION">Donation</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Date From</label>
                <input id="" name="" type="date" class="form-control here" [(ngModel)]="search.from"
                  formControlName="from">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="date-to">Date To</label>
                <input id="date-to" name="date-to" type="date" class="form-control here" [(ngModel)]="search.to"
                  formControlName="to">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="vis-none">Date To</label>
                <button name="submit" type="submit" class="btn btn-primary btn-block">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-0">
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">To/From</th>
              <th scope="col">Description</th>
              <th scope="col">Carrot</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="transactionLists">
            <tr *ngFor="let transaction of transactionLists">
              <th scope="row">1</th>
              <td>{{transaction.type}}</td>
              <td>{{transaction.to != user.name ? transaction.to : transaction.from}}</td>
              <td>{{transaction.description}}</td>
              <td>{{transaction.carrot_amt}}</td>
              <td>{{transaction.transactiondate | date:'medium'}}</td>
              <td>{{transaction.status}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<ng-template #contentShare let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Share your carrot</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="shareForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-group">
        <label>Sharing Type</label>
        <select class="form-control here" formControlName="detail_to" (change)="detect($event.target.value)">
          <option value="" selected> Pilih tipe </option>
          <option *ngFor="let e of dn" [ngValue]="e">{{e}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="type === 'BIRTHDAY'">
        <label>Colleagues</label>
        <select class="form-control here" formControlName="detail_to" [(ngModel)]="shareValue.detail_to">
          <option value="">Choose your Colleague</option>
          <option *ngFor="let item of recentDob" [ngValue]="item">
            {{item.employee.name}}
          </option>
        </select>
        <div *ngIf="submitted && messageForm.controls.employee.errors" class="error">
          <div *ngIf="messageForm.controls.employee.errors.required">Please insert name!</div>
        </div>
      </div>
      <div class="form-group" *ngIf="type === 'DONATION'">
        <label>Social Foundation</label>
        <select class="form-control here" formControlName="detail_to" [(ngModel)]="shareValue.socialFoundation">
          <option value="">Choose Social Foundation</option>
          <option *ngFor="let item of sosFoundData" [ngValue]="item">
            {{item.name}}
          </option>
        </select>
        <div *ngIf="submitted && messageForm.controls.employee.errors" class="error">
          <div *ngIf="messageForm.controls.employee.errors.required">Please insert name!</div>
        </div>
      </div>
      <div class="form-group">
        <label>Carrot's Amount</label>
        <input name="text" type="number" class="form-control here" formControlName="carrot_amt"
          [(ngModel)]="shareValue.carrot_amt">
        <div *ngIf="submitted && messageForm.controls.carrot_amt.errors" class="error">
          <div *ngIf="messageForm.controls.carrot_amt.errors.required">Please insert carrot's ammout!</div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group">
          <label>Comments</label>
          <textarea name="text" type="text" class="form-control here" formControlName="description"
            [(ngModel)]="shareValue.description"></textarea>
          <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
            <div *ngIf="messageForm.controls.description.errors.required">Please insert name!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</ng-template>
