<div class="row d-flex">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div
      class="btn-group pull-right"
      role="group"
      aria-label="Basic example">
      <a href="/merchant-transaction" class="btn btn-outline-success">Transaction List</a>
      <a href="/create-bazar" class="btn btn-success">Create Bazaar</a>
    </div>
  </div>
</div>

<section class="transaction-history my-4">
  <div class="container search-box">
    <div class="row">
      <div class="col-md-12">
        <hr class="box-title-hr" />
        <h4 class="my-2 box-title">LIST OF Bazaars</h4>
      </div>
      <div class="col-md-12">
        <table class="table table-bordered mt-3">
          <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Bazaar Name</th>
            <th colspan="2">Period</th>
            <th rowspan="2">Status</th>
            <th rowspan="2">Action</th>
          </tr>
          <tr>
            <td>Start</td>
            <td>End</td>
          </tr>
          <tr *ngFor="let bazar of bazarData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ bazar.bazaarName }}</td>
            <td>{{ bazar.startPeriod }}</td>
            <td>{{ bazar.endPeriod }}</td>
            <td>{{ bazar.status == true ? "Active" : "Inactive" }}</td>
            <td>
              <a [href]="'edit-bazar/' + bazar.id" class="btn btn-info">
                <i class="fas fa-cog"></i>
                Manage
              </a>
            </td>
          </tr>
        </table>
      </div>
      <!-- <div class="container mt-3">
        <div class="col-md-12 py-3 px-md-0 text-center">
          <button type="submit" class="btn btn-info">
            <i class="fa fa-plus-circle"></i> CREATE BAZAAR
          </button>
        </div>
      </div> -->
    </div>
  </div>
</section>
