<main role="main" class="container12">
  <div class="row d-flex">
    <div class="col-md-6">
      <h2 class="my-3 pl-0 text-grey ml-0">
        <span class="back-button">
          <button type="button" class="btn-clear" data-toggle="modal" data-target="#exampleModalCenter"
            onclick="backToEmployee()"><img src="assets/img/back.png" alt="" class="back"></button>
        </span>
        EMPLOYEE PAGE
      </h2>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</main>
<section class="create-employee-form pt-2 pb-5">
  <form [formGroup]="formEmployee" (ngSubmit)="profileSubmit()">
    <div class="container search-box pt-2" *ngIf="employee">
      <div class="row">
        <div class="col-md-12 ">
          <hr class="box-title-hr">
          <h4 class="mt-2 mb-4 box-title">EMPLOYEE DETAILS</h4>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <label class="center" for="text">Item's Image</label>
                <!-- <img class="thumbnailpicture" src="imageSrc" alt="" *ngIf="employee.profilePicture"> -->
                <div class="container">
                  <img class="img-fluid rounded-circle center" id="blah" [src]="imageSrc" alt="">
                  <button class="edit-button">Edit</button>
                  <input type="file" accept="images" id="avatar" (change)="onFileChange($event)"
                    class="form-control here" formControlName="profilePicture">
                </div>

                <div *ngIf="submitted && formEmployee.controls.profilePicture.errors" class="error">
                  <div *ngIf="formEmployee.controls.profilePicture.errors.required">Please insert the picture!</div>
                </div>
              </div>

              <div class="form-group">
                <label class="info-label">Name:</label> <br/>
                <label class="info-data">{{employee.name}}</label>
              </div>

              <div class="form-group">
                <label class="info-label" for="employeeEmail">Email Address: </label> <br/> 
                <label class="info-data">{{employee.emailAddress}}</label>
              </div>

              <div class="form-group">
                <label class="info-label" for="employeeDoB">Date of Birth: </label> <br/> 
                <label class="info-data">{{employee.dob.day}} - {{employee.dob.month}} - {{employee.dob.year}}</label>
              </div>

              <div class="form-group">
                <label class="info-label">Role: </label> <br/> 
                <label class="info-data">{{employee.role}}</label>
              </div>

              <div class="form-group">
                <label for="employeeAddress">Address: </label> <br/> 
                <!-- <label>{{employee.address}}</label> -->
                <input id="employeeAddress" name="employeeAddress" type="textar" class="form-control here"
                  formControlName="address" [(ngModel)]="employeeForm.address">
              </div>

              <div class="form-group">
                <label for="employeePassword">Password: {{employee.password}}</label>
                <input id="employeePassword" name="employeePassword" type="textar" class="form-control here"
                  formControlName="password" value="{{employee.password}}" [(ngModel)]="employeeForm.password">
                <div *ngIf="submitted && formEmployee.controls.employeePassword.errors" class="error">
                  <div *ngIf="formEmployee.controls.employeePassword.errors.required">Please insert the picture!</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row d-flex">
        <div class="col-md-12 py-3 px-md-0">
          <button type="submit" class="btn btn-carrot radius-5 pull-right">UPDATE DATA</button>
        </div>
      </div>
    </div>
  </form>
</section>