<main role="main" class="container">
  <div class="row d-flex ml-1">
    <h2 class="mt-4 pl-0 text-grey ml-0">
      <span class="back-button">
        <a *ngIf="employee.role == 'STAFF'" href="/employee"><img src="assets/img/back.png" alt="" class="back" /></a>
        <a *ngIf="employee.role == 'MANAGER'" href="/manager"><img src="assets/img/back.png" alt="" class="back" /></a>
        <a *ngIf="employee.role == 'SENIOR_MANAGER'" href="/manager"><img src="assets/img/back.png" alt="" class="back" /></a>
        <a *ngIf="employee.role == 'ADMIN'" href="/administrator"><img src="assets/img/back.png" alt="" class="back" /></a>
      </span>
      EMPLOYEE PAGE
    </h2>
  </div>
</main>
<section class="create-employee-form pt-2 pb-5 my-4">
  <form [formGroup]="formEmployee" (ngSubmit)="profileSubmit()">
    <div class="container" *ngIf="employee">
      <div class="row">
        <div class="col-md-5 search-box pad">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="form-group">
                <div class="image-upload backgroudProfile">
                  <label for="file-input" class="text">
                    <img class="img-fluid rounded-circle" id="blah"
                         [src]="imageSrc || 'https://res.cloudinary.com/dc1lp90qy/image/upload/v1553927628/pictures/user.png'"
                         alt=""
                         onerror="this.src='https://res.cloudinary.com/dc1lp90qy/image/upload/v1553927628/pictures/user.png'">
                  </label>
                  <input id="file-input" type="file" accept="images" (change)="onFileChange($event)"
                         class="form-control here" formControlName="profilePicture" />
                </div>
              </div>

              <div class="form-group justify-content-center">
                <h1 class="name">{{employee.name}}</h1>
              </div>

              <div class="form-group">
                <label class=""><i class="far fa-paper-plane"></i> : {{employee.emailAddress}}</label>
              </div>
              <div class="form-group">
                <label class=""><i class="fas fa-pen-alt"></i> : {{employee.role}}</label>
              </div>
              <div class="form-group">
                <label class=""><i class="fas fa-baby"></i>  : {{employee.dob.day}} - {{employee.dob.month}} - {{employee.dob.year}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 search-box pad">
          <div class="form-group">
            <label class="info-label" >Password: </label> <br />
            <div class="input-group">
              <input class="form-control" value="********" disabled>
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" (click)="open(changePassword)"><i class="fa fa-key" ></i></button>
              </span>
            </div>
          </div>
        <div class="form-group">
          <label class="info-label" >Address: </label> <br />
          <textarea class="form-control" formControlName="address" [(ngModel)]="employeeForm.address">
          </textarea>
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-carrot btn-block">Save Changes</button>
          </div>
      </div>
      </div>
    </div>
  </form>
</section>

<ng-template #changePassword let-c="close" let-d="dismiss">
  <form [formGroup]="formPassword" (ngSubmit)="passwordSubmit()">
    <div class="form-group">
      <label >Old Password </label> <br />
      <input class="form-control" type="password" formControlName="password" [(ngModel)]="oldPassword" (keyup)="checkOld()">
      <div *ngIf="match == false" class="error">
        <div>Old Password Doesn't match!!</div>
      </div>
    </div>
    <div class="form-group">
      <label>New Password: </label> <br />
      <input class="form-control" type="password" formControlName="password" [(ngModel)]="password" (keyup)="checknew()">
      <div *ngIf="match1 == false" class="error">
        <div>New Password Doesn't match!!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Retype New Password: </label> <br />
      <input class="form-control" type="password" formControlName="password" [(ngModel)]="password1" (keyup)="checknew()">
      <div *ngIf="match1 == false" class="error">
        <div>New Password Doesn't match!!</div>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Update" class="btn btn-success btn-block">
    </div>
  </form>
</ng-template>

