<main role="main" class="container1">
  <h2 class="mt-4 pl-0 text-grey ml-0" id='titlemeta'>
    MITRAIS CARROT PROTOTYPE
  </h2>
  <p class="text-info" id='descriptionmeta'>This page is not a part of Mitrais Carrot Web App, I made it just to make it easier for you to switch between role. <br>This is a *pre-alpha*, expect plenty of bugs and missing features. Please report them if you found one :) </p>
</main>
<section class="role py-3">
  <div class="container search-box py-3">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-grey-dark">Choose your role:</h4>
      </div>
    </div>
    <div class="col-md-12">
      <a href="/employee" class="btn btn-carrot radius-5"> Employee</a>
      <a href="/manager" class="btn btn-carrot radius-5" *ngIf="user.role == 'MANAGER' || user.role == 'ROOT_ADMIN'"> Manager</a>
      <a href="/merchant" class="btn btn-carrot radius-5" *ngIf="user.role == 'ADMIN' || user.role == 'ROOT_ADMIN'"> Merchant</a>
      <a href="/farmer" class="btn btn-carrot radius-5" *ngIf="user.role == 'ROOT_ADMIN'"> Farmer / Stockist</a>
      <a href="/administrator" class="btn btn-carrot radius-5" *ngIf="user.role == 'ADMIN' || user.role == 'ROOT_ADMIN'"> Administrator</a>
    </div>
  </div>
</section>
